In [1]:
#print random string

print("Hey, This is Nikhil Here.")

Hey, This is Nikhil Here.

In [2]:
#variable and data types

var1 = 22
var2 = 22.09
var3 = "Nikhil"
var4 = False

print(var1)
print(var2)
print(var3)
print(var4)

22
22.09
Nikhil
False

In [3]:
#print data type of variable

print(type(var1))
print(type(var2))
print(type(var3))
print(type(var4))

<class 'int'>
<class 'float'>
<class 'str'>
<class 'bool'>

In [4]:
var5 = var1/4
var6 = var1*var2

print(var5)
print(var6)

5.5
485.98

In [5]:
#take input from user using input()

x = int(input("Please Enter A Value Of X :- "))
y = int(input("Please Enter A Value Of Y :- "))

print("X :- ",x)
print("Type of X :- ",type(x))
print("Y :- ",y)
print("Type of Y :- ",type(y))

z = x*y

print("Z :- ",z)
print("Type of Z :- ",type(z))

Please Enter A Value Of X :- 22
Please Enter A Value Of Y :- 09
X :-  22
Type of X :-  <class 'int'>
Y :-  9
Type of Y :-  <class 'int'>
Z :-  198
Type of Z :-  <class 'int'>

In [6]:
#take input from user using input()

x = int(input("Please Enter A Value Of X :- "))
y = float(input("Please Enter A Value Of Y :- "))

print("X :- ",x)
print("Type of X :- ",type(x))
print("Y :- ",y)
print("Type of Y :- ",type(y))

z = x*y

print("Z :- ",z)
print("Type of Z :- ",type(z))

Please Enter A Value Of X :- 22
Please Enter A Value Of Y :- 9.09
X :-  22
Type of X :-  <class 'int'>
Y :-  9.09
Type of Y :-  <class 'float'>
Z :-  199.98
Type of Z :-  <class 'float'>

In [7]:
#take input from user using input()

x = str(input("Please Enter A Value Of X as Your Name :- "))
y = str(input("Please Enter A Value Of Y as Your Surename:- "))

print("X :- ",x)
print("Type of X :- ",type(x))
print("Y :- ",y)
print("Type of Y :- ",type(y))

z = x + " " + y
w = x*5

print("Concatenation Of X And Y :- ",z)
print("Type of Z :- ",type(z))
print("Repeatation Of X for 5 times :- ",w)
print("Type of Z :- ",type(w))

Please Enter A Value Of X as Your Name :- Nikhil
Please Enter A Value Of Y as Your Surename:- Babariya
X :-  Nikhil
Type of X :-  <class 'str'>
Y :-  Babariya
Type of Y :-  <class 'str'>
Concatenation Of X And Y :-  Nikhil Babariya
Type of Z :-  <class 'str'>
Repeatation Of X for 5 times :-  NikhilNikhilNikhilNikhilNikhil
Type of Z :-  <class 'str'>

In [8]:
#string slicing and indexing

str1 = "Nikhil babariya !!"

print(str1)
print("length of str1 :- ",len(str1))

Nikhil babariya !!
length of str1 :-  18

In [9]:
str1[5]

'l'

In [10]:
str1[16]

'!'

In [11]:
str1[0:7]

'Nikhil '

In [12]:
str1[:10]

'Nikhil bab'

In [13]:
str1[2:]

'khil babariya !!'

In [14]:
str1[-18:-1]

'Nikhil babariya !'

In [15]:
str1[-1:-17]

''

In [16]:
str1[:-1]

'Nikhil babariya !'

In [17]:
str1[-1:]

'!'

In [18]:
str1[::-1]

'!! ayirabab lihkiN'

# Tuple

In [19]:
#create a tuple

tuple1 = ("nikhil",22,"babariya",90)

print(tuple1)
print("data type of tuple1 :- ",type(tuple1))

print("length of tuple1 :- ",len(tuple1))

('nikhil', 22, 'babariya', 90)
data type of tuple1 :-  <class 'tuple'>
length of tuple1 :-  4

In [20]:
tuple1[0]

'nikhil'

In [21]:
tuple1[2]

'babariya'

In [22]:
tuple1[2][0:2]

'ba'

In [23]:
tuple1[0:3]

('nikhil', 22, 'babariya')

In [24]:
tuple1[1:2]

(22,)

In [25]:
tuple1[::-1]

(90, 'babariya', 22, 'nikhil')

In [26]:
#concatenation and repeatation of tuple

tuple1 = ("nikhil",22,"babariya",90)

print(tuple1)
print("data type of tuple1 :- ",type(tuple1))

tuple2 = ("shivam",31,"patel",10)

print(tuple2)
print("data type of tuple1 :- ",type(tuple2))

tuple3 = tuple1 + tuple2
print(tuple3)
print("data type of tuple1 :- ",type(tuple3))

tuple4 = tuple1*3
print(tuple4)
print("data type of tuple1 :- ",type(tuple4))

('nikhil', 22, 'babariya', 90)
data type of tuple1 :-  <class 'tuple'>
('shivam', 31, 'patel', 10)
data type of tuple1 :-  <class 'tuple'>
('nikhil', 22, 'babariya', 90, 'shivam', 31, 'patel', 10)
data type of tuple1 :-  <class 'tuple'>
('nikhil', 22, 'babariya', 90, 'nikhil', 22, 'babariya', 90, 'nikhil', 22, 'babariya', 90)
data type of tuple1 :-  <class 'tuple'>

In [27]:
#deletation and updation of tuple

del tuple1[0]
print(tuple1)

TypeError: 'tuple' object doesn't support item deletion

In [28]:
#deletation and updation of tuple

tuple1[0] = "Patel"
print(tuple1)

TypeError: 'tuple' object does not support item assignment

# List

In [29]:
#create a list

list1 = ["nikhil",22,"babariya",90]

print(tuple1)
print("data type of list1 :- ",type(list1))

print("length of list1 :- ",len(list1))

('nikhil', 22, 'babariya', 90)
data type of list1 :-  <class 'list'>
length of list1 :-  4

In [30]:
list1[0]

'nikhil'

In [31]:
list1[2]

'babariya'

In [32]:
list1[2][0:2]

'ba'

In [33]:
list1[0:3]

['nikhil', 22, 'babariya']

In [34]:
list1[1:2]

[22]

In [35]:
list1[::-1]

[90, 'babariya', 22, 'nikhil']

In [36]:
#concatenation and repeatation of tuple

list1 = ["nikhil",22,"babariya",90]

print(list1)
print("data type of list1 :- ",type(list1))

list2 = ["shivam",31,"patel",10]

print(list2)
print("data type of list2 :- ",type(list2))

list3 = list1 + list2
print(list3)
print("data type of list3 :- ",type(list3))

list4 = list1*3
print(tuple4)
print("data type of list4 :- ",type(list4))

['nikhil', 22, 'babariya', 90]
data type of list1 :-  <class 'list'>
['shivam', 31, 'patel', 10]
data type of list2 :-  <class 'list'>
['nikhil', 22, 'babariya', 90, 'shivam', 31, 'patel', 10]
data type of list3 :-  <class 'list'>
('nikhil', 22, 'babariya', 90, 'nikhil', 22, 'babariya', 90, 'nikhil', 22, 'babariya', 90)
data type of list4 :-  <class 'list'>

In [37]:
#deletation and updation of tuple

del list1[0]
print(list1)

[22, 'babariya', 90]

In [38]:
#deletation and updation of tuple

list1[0] = "Patel"
print(list1)

['Patel', 'babariya', 90]

# Set

In [39]:
#create a set

set1 = {"nikhil",22,"babariya",90}

print(set1)
print("data type of set1 :- ",type(set1))

print("length of set1 :- ",len(set1))

{'babariya', 90, 'nikhil', 22}
data type of set1 :-  <class 'set'>
length of set1 :-  4

In [40]:
set1[0]

TypeError: 'set' object is not subscriptable

In [41]:
set1[2]

TypeError: 'set' object is not subscriptable

In [42]:
set1[2][0:2]

TypeError: 'set' object is not subscriptable

In [43]:
set1[0:3]

TypeError: 'set' object is not subscriptable

In [44]:
set1[1:2]

TypeError: 'set' object is not subscriptable

In [45]:
set1[::-1]

TypeError: 'set' object is not subscriptable

In [46]:
#concatenation and repeatation of tuple

set1 = {"nikhil",22,"babariya",90}

print(list1)
print("data type of set1 :- ",type(set1))

set2 = {"shivam",31,"patel",10}

print(set2)
print("data type of set2 :- ",type(set2))

set3 = set1 + set2
print(set3)
print("data type of set3 :- ",type(set3))

set4 = set1*3
print(set4)
print("data type of set4 :- ",type(set4))

['Patel', 'babariya', 90]
data type of set1 :-  <class 'set'>
{10, 31, 'patel', 'shivam'}
data type of set2 :-  <class 'set'>

TypeError: unsupported operand type(s) for +: 'set' and 'set'

In [47]:
#deletation and updation of tuple

del set1[0]
print(sett1)

TypeError: 'set' object doesn't support item deletion

In [48]:
#deletation and updation of tuple

set1[0] = "Patel"
print(set1)

TypeError: 'set' object does not support item assignment

# Dictionary

In [49]:
#create a dictionary

dict1 = {"nikhil":22,"babariya":90}

print(dict1)
print("data type of dict1 :- ",type(dict1))

print("length of dict1 :- ",len(dict1))

dict2 = {"shivam":31,"patel":10}

print(dict2)
print("data type of dict2 :- ",type(dict2))

print("length of dict2 :- ",len(dict2))

{'nikhil': 22, 'babariya': 90}
data type of dict1 :-  <class 'dict'>
length of dict1 :-  2
{'shivam': 31, 'patel': 10}
data type of dict2 :-  <class 'dict'>
length of dict2 :-  2

In [50]:
print("values of dict1 :- ",dict1.values())
print("keys of dict1 :- ",dict1.keys())

values of dict1 :-  dict_values([22, 90])
keys of dict1 :-  dict_keys(['nikhil', 'babariya'])

In [51]:
#create dictionary with single value
dict3 = {}
dict3['one'] = "Nikhil Babariya"

print(dict3)

{'one': 'Nikhil Babariya'}

In [52]:
#import math library 
from math import pi
pi

3.141592653589793

In [53]:
#find area of circle

r = 22
area = r*pi*r

print("Area of Cicle with ",r," :- ",area)

Area of Cicle with  22  :-  1520.5308443374597

In [54]:
for i in range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [55]:
for i in range(0,99,9):
    print(i)

0
9
18
27
36
45
54
63
72
81
90

In [66]:
#Calculator using function

def add(n1,n2):
    return n1+n2

def sub(n1,n2):
    return n1-n2

def mul(n1,n2):
    return n1*n2

def div(n1,n2):
    return n1/n2

print("Please Select An Operation :- ")
print("1. Addition")
print("2. Subtraction")
print("3. Multiplication")
print("4. Division")

choice = int(input("Please Enter A Choice (1/2/3/4):- "))

n1 = int(input("Please Enter A Number 1 :- "))
n2 = int(input("Please Enter A Number 2 :- "))

if choice== 1:
    print("The Addition of Two Number (" ,n1, " and " ,n2, ") :- ",add(n1,n2))
elif choice== 2:
    print("The Subtraction of Two Number (" ,n1, " and " ,n2, ") :- ",sub(n1,n2))
elif choice== 3:
    print("The Multiplication of Two Number (" ,n1, " and " ,n2, ") :- ",mul(n1,n2))
elif choice== 4:
    print("The Division of Two Number (" ,n1, " and " ,n2, ") :- ",div(n1,n2))
else:
    print("Invalid Input")

Please Select An Operation :-
1. Addition
2. Subtraction
3. Multiplication
4. Division
Please Enter A Choice (1/2/3/4):- 2
Please Enter A Number 1 :- 22
Please Enter A Number 2 :- 09
The Subtraction of Two Number ( 22  and  9 ) :-  13

In [68]:
#pyhton conditional statement

#if statement

num=5
if num > 0:
    print(num,"this is positive number")

5 this is positive number

In [69]:
#if else statement

num=-5
if num > 0:
    print(num,"this is positive number")
else:
    print(num,"this is negative number")

-5 this is negative number

In [74]:
#nested if else statement

num=int(input("Please enter A number :- "))
if num >= 0:
    if num == 0:
        print(num,"this is Zero number")
    else:
        print(num,"this is positive number")
else:
    print(num,"this is 123negative number")

Please enter A number :- 0
0 this is Zero number

In [77]:
n1=n2=n3=22

print("This is address of n1 :- ",id(n1))
print("This is address of n2 :- ",id(n2))
print("This is address of n3 :- ",id(n3))

This is address of n1 :-  1570983341008
This is address of n2 :-  1570983341008
This is address of n3 :-  1570983341008